<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MeteoApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home" Size="24px" Class="nav-icon" /> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/weather">
                <RadzenIcon Icon="cloud" Size="24px" Class="nav-icon" /> Weather
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/analytics">
                <RadzenIcon Icon="analytics" Size="24px" Class="nav-icon" /> City Analysis
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/checklist">
                <RadzenIcon Icon="circle" Size="24px" Class="nav-icon" /> Checklist 
            </a>
        </div>
    </nav>
</div>
